body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: yellow;
    text-align: center;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    font-size: 4em;
    margin-bottom: 10px;
    color: #591B1B;
  }
  
  h2 {
    font-size: 3em;
    margin-top: 0;
    color: black;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 0;
    color: grey;
    margin-top: .5em;
  }
  